html, body{
    margin: 0;
    height: 100%;
}
header{
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgba(128, 128, 128, 0.3); 
}
header h1{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
}
nav li{
    list-style: none;
    display: inline;
    padding: 20px;
}
nav li a{
    text-decoration: none;
    color: black;
}
#current-mood-body{
    background-image: url("current-mood-background.jpg");
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;   
}
#content{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#current-mood{
    display: inline;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    color: white;
}