html, body{
    margin: 0;
    height: 100%;
}
header{
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgba(128, 128, 128, 0.3); 
}
header h1{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
}
nav li{
    list-style: none;
    display: inline;
    padding: 20px;
}
nav li a{
    text-decoration: none;
    color: black;
}
#current-mood-body{
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 80%, #0a0a0a 100%),
    url("../images/current-mood-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed, fixed;
}
#unique-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;   
    gap: 20px;                   
    height: 100vh;
    padding-top: 20px;         
}
#current-mood, #sensors{
    display: inline;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 15px;                
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(1px);        
    -webkit-backdrop-filter: blur(10px);  
    border: none;       
    color: white;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 0 auto;
}
#current-mood img{
    width: 50%;
    background: white; 
    border-radius: 15px;                
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(3px);        
    -webkit-backdrop-filter: blur(10px);  
    border: none;                        
    padding: 2rem;
    color: white;
    text-align: center;
    height: auto;
    margin: 0 auto;
}
#playlist {
    grid-row: span 2;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    border-radius: 15px; 
    box-shadow: 0 4px 30px rgba(0,0,0,0.2);
    display: flex;               
    flex-direction: column;      
    align-items: center;        
    justify-content: flex-start;    
    text-align: center;
    border: none;
    padding-bottom: 2rem;
    color: white;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    height: auto;         
}

#dynamic-playlist img {
    width: 70%;      
    max-width: 400px;  
    height: auto;
    border-radius: 10px;
    display: inline-block;
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}
#footer{
    display: flex;
    justify-content: center;
}