<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Short page description" />
  <title>Dashboard - Home Page</title>
  <link rel="stylesheet" href="../static/css/current-mood.css" />\
  <script src="../static/js/backend.js" defer></script>

</head>
  <body id="current-mood-body">
    <header>
      <div class="container">
        <h1>Mood Ring - Music For Your Mood</h1>
        <nav aria-label="Main navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/current-mood">Your Mood</a></li>
            <li><a href="/mood-history">Mood History</a></li>
            <li><a href="/tuning">Mood Tuning</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="content" role="main">
      <div id="unique-grid">
        <div id="current-mood">
          <h2>You Are Feeling: </h2>
          <img src="../static/images/calm-logo-transparent.png">
          <p>Calm</p>
        </div>
        <div id="playlist">
          <h2>Current Playlist:</h2>
          <div id="dynamic-playlist">
            <img src="/static/images/spotify-playlist-placeholder.jpg">
          </div>
        </div>
        <div id="sensors">
          <h2>Your Data:</h2>

        </div>
      </div>
    </main>

    <footer>
      <div id="footer">
        <p>&copy; <span id="year"></span> Company — All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
