<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Short page description" />
  <title>Dashboard - Home Page</title>
  <link rel="stylesheet" href="/static/css/global.css" />

</head>
  <body id="home-body">
    <header>
      <div class="container">
        <h1>Mood Ring - Music For Your Mood</h1>
        <nav aria-label="Main navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/current-mood">Your Mood</a></li>
            <li><a href="/mood-history">Mood History</a></li>
            <li><a href="/tuning">Mood Tuning</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="content" role="main">
      <div id="about">
        <h2>What You Want - When You Want It</h2>
        <p>Reflexion believes music isn’t just sound — it’s a force that 
          shapes your mood, focus, and perspective.
          We’re building a way to make that power effortless. 
          Our mood-sensing bracelet connects directly to your Spotify, 
          adapting your music in real time to match how you feel — or how 
          you want to feel.
          Music can lift moods, ease stress, and reshape outlooks. 
          We’re making that power yours to control.
        </p>
        <p>
          Reflexion was born from a simple idea — music should move with you.
          Your energy, your focus, your mood — they change every moment.
          So we built a way for your music to change with them.

          Reflexion is a mood-sensing bracelet that connects with Spotify 
          to create a living soundtrack — one that shifts with how you feel, and guides you toward how you want to feel.

          Because music shouldn’t just play to you.
          It should play with you.
        </p>
      </div>
    </main>

    <footer>
      <div class="container">
        <p>&copy; <span id="year"></span> Company — All rights reserved</p>
      </div>
    </footer>
    <script>
      document.getElementById('year').textContent = new Date().getFullYear();
    <script/>
  </body>
</html>
